:root {
  --bg: white;
  --color: black;
  --bg-card:#f2f4f6;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--color);
}

body.dark {
  --bg: rgb(0, 0, 0);
  --color: rgb(255, 255, 255);
  --bg-card:#101828;

}
body {
  background-color: var(--bg);
  color: var(--color);
}
.navBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}
.navLists {
  margin: auto;
}
.navBar .navLists ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  padding: 0px;
}
.navBtnSection {
  display: flex;
  gap: 15px;
}

.navBtn,
.toggleBtn {
  background: none;
  border: none;
  font-size: 25px;
  padding-right: 50px;
}

.navBtn {
  display: none;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  line-height: 1.1;
}

.profileImageContainer {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}

.profileImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profileContainer h1 {
  font-size: 46px;
  font-weight: 400;
}
.profileContainer h2 {
  font-size: 74px;
  font-weight: 600;
  background: linear-gradient(to right, #5b5bff, #00dbf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
}
.profileContainer p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #756868;
}

.socialContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.digitalClock {
  text-align: center;
  font-size: larger;
}
.project{
  margin: auto;
  margin-top: 30px;
  max-width: 1400px;
}
.project h2{
  text-align: center;
}

.projectContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.projectCard{
  background-color: var(--bg-card);
  padding: 20px;
  border-radius: 20px;
}

.projectCard img{
  border-radius: 10px;
}

.projectCard h2, .projectCard p, .projectCard a , .projectCard i{
  background-color: var(--bg-card);
  margin: 10px 0px;
}
.projectCard h2{
  text-align: left;
}

.projectCard a{
  text-decoration: none;
  color: #5b5bff;
}

.projectCard a i{
  margin-right: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
footer p {
  background-color: black;
  color: white;
}

/* Tablet */
@media (min-width: 481px) and (max-width: 987px) {
  /* body {
    background-color: yellow;
  } */

  .profileContainer h1 {
    font-size: 26px;
  }
  .profileContainer h2 {
    font-size: 34px;
  }
  .projectContainer {
  grid-template-columns: repeat(2, 1fr);
  padding: 12px;
}

.projectCard{
  padding: 12px;
}
}

/* Mobile */
@media screen and (max-width: 480px) {
  .navBtn {
    display: block;
  }
  .navLists {
    display: none;
  }
  .navLists.active {
    display: block;
  }

  .navBar .navLists ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 5px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .navBtn,
  .toggleBtn {
    padding-right: 0px;
  }

  .profileContainer h1 {
    font-size: 24px;
  }
  .profileContainer h2 {
    font-size: 31px;
  }

  .projectContainer {
  grid-template-columns: 1fr;
  padding: 12px;
}

.projectCard{
  padding: 12px;
}
  
}
